services:
  postgres:
    image: bitnami/postgresql:latest
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/bitnami/postgresql
    networks:
      - app-network
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
      - "6222:6222"
      - "8222:8222"
    networks:
      - app-network
  keycloak:
    image: bitnami/keycloak:latest
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/bitnami/keycloak
    networks:
      - app-network
    depends_on:
      - postgres
    restart: always
  redis:
    image: bitnami/redis:latest
    env_file:
      - .env
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/bitnami/redis
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
volumes:
  postgres_data:
    driver: local
  keycloak_data:
    driver: local
  redis_data:
    driver: local
